<footer class="main-footer">
    <div class="auto-container">
        <div class="widgets-section">
            <div class="row clearfix">
                
                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="widget-content">
                            <div class="footer-logo">
                                <a href="/"><img src="images/footer-logo.png" alt="ASSRA Logo" /></a>
                            </div>
                            <div class="text">ASSRA (Association for Social Service and Rehabilitation of the Aged) is dedicated to improving life for the vulnerable through sustainable development and grassroots empowerment.</div>
                            <ul class="social-links clearfix">
                                <li><a href="https://www.facebook.com/assra4u" target="_blank" title="Facebook"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="https://x.com/ASSRA63196151" target="_blank" title="Twitter / X"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="https://www.instagram.com/assra_4you/" target="_blank" title="Instagram"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="https://www.youtube.com/channel/UC9RMakJLh6-3Yl_Pr9bSyIw" target="_blank" title="YouTube"><span class="fab fa-youtube"></span></a></li>
                                <li><a href="https://in.linkedin.com/company/assra4u" target="_blank" title="LinkedIn"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <h3>Our Pillars</h3>
                            <ul>
                                <li><a href="/elderly-care">Elderly Care</a></li>
                                <li><a href="/education-work">Education</a></li>
                                <li><a href="/empowerment">Empowerment</a></li>
                                <li><a href="/environment">Environment</a></li>
                                <li><a href="/programs">View All Programs</a></li>
                            </ul>
                        </div>  
                    </div>
                </div>

                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <h3>Organization</h3>
                            <ul>
                                <li><a href="/leadership">Leadership Team</a></li>
                                <li><a href="/partners">Our Partners</a></li>
                                <li><a href="/gallery">Photo Gallery</a></li>
                                <li><a href="/media-coverage">Media Coverage</a></li>
                                <li><a href="/events">Upcoming Events</a></li>
                            </ul>
                        </div>  
                    </div>
                </div>
                
                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-content">
                            <h3>Get In Touch</h3>
                            <ul class="contact-info">
                                <li>107, Laxman Singh complex-1, Munirka, New Delhi-110067</li>
                                <li><a href="tel:+919810212917">+91 98102 12917</a></li>
                                <li><a href="mailto:assra4u@gmail.com">assra4u@gmail.com</a></li>
                                <li><a href="https://www.assra4u.org" target="_blank"><span class="fa fa-globe"></span> www.assra4u.org</a></li>
                                <li><a href="https://share.google/TCP7yH6BasT8vC6SJ" target="_blank"><span class="fa fa-home"></span> Old Age Home: Mo Ghara</a></li>
                            </ul>
                        </div>  
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="copyright">
                    &copy; 2026 <strong>ASSRA NGO</strong>. All Rights Reserved. 
                    
                </div>
            </div>
        </div>
    </div>
</footer>

</div><!-- /.page-wrapper -->

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

<!-- jQuery first -->
<script src="js/jquery.js"></script>

<!-- Then all dependencies in order -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/wow.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/jquery.bootstrap-touchspin.js"></script>
<script src="js/jquery-ui.js"></script>

<!-- Finally your custom script -->
<script src="js/script.js"></script>

</body>
</html>
